<%- include('header') %>
<div class="container">
  <div class="row min-vh-100 d-flex">
    <div class="col-md-6 m-auto display-6 text-center">
      Page not found
    </div>
  </div>
</div>
<%- include('footer') %>
<!-- logout button -->
